/* .id {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
} */

.container {
   width: 100%;
}

.container .wrapper {
   width: 100%;
   display: flex;
}

/* .container :global(.react-diagram__port-left) {
   left: var(--position);
}

.container :global(.react-diagram__port-right) {
   right: var(--position);
} */

.container .blank-left > div {
   left: var(--position);
}
.container .blank-right > div {
   right: var(--position);
}
.container .blank-top > div {
   top: var(--position);
}
.container .blank-bottom > div {
   bottom: var(--position);
}

.container .tab-left > div {
   left: 0;
}
.container .tab-right > div {
   right: 0;
}
.container .tab-top > div {
   top: 0;
}
.container .tab-bottom > div {
   bottom: 0;
}
