.react-diagram {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   z-index: 0;
}

.react-diagram__container {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.react-diagram__node-default {
   padding: 10px;
   border-radius: 3px;

   text-align: center;

   border: 1px solid #000000;
   background-color: #ffffff;
   box-sizing: border-box;

   &:focus-visible {
      outline: none;
      border: 1px solid #555;
   }
}

.react-diagram__node {
   position: absolute;
   user-select: none;
   pointer-events: all;
   transform-origin: 0 0;
   box-sizing: border-box;
   cursor: grab;
}

.react-diagram__port {
   width: 6px;
   height: 6px;
   background: #000000;
   border: 1px solid #ffffff;
   border-radius: 100%;

   position: absolute;
   /* pointer-events: none; */
   min-width: 5px;
   min-height: 5px;

   pointer-events: all;
   cursor: crosshair;
}

.react-diagram__port-bottom {
   left: 50%;
   bottom: -4px;
   transform: translate(-50%, 0);
}

.react-diagram__port-top {
   left: 50%;
   top: -4px;
   transform: translate(-50%, 0);
}

.react-diagram__port-left {
   top: 50%;
   left: -4px;
   transform: translate(0, -50%);
}

.react-diagram__port-right {
   right: -4px;
   top: 50%;
   transform: translate(0, -50%);
}

.react-diagram__edge {
   pointer-events: visibleStroke;
   cursor: pointer;
}

.react-diagram__edge-path,
.react-diagram__connection-path {
   stroke: #b1b1b7;
   stroke-width: 1;
   fill: none;
}

.react-diagram__edgeupdater {
   cursor: move;
   pointer-events: all;
}

.react-diagram__edge-text-bg {
   fill: white;
}

.react-diagram__edge-text-wrapper {
   pointer-events: all;
}

.react-diagram__edge .react-diagram__edge-text {
   pointer-events: none;
   user-select: none;
}

.react-diagram__edge-text {
   font-size: 10px;
}

.react-diagram__viewport {
   transform-origin: 0 0;
   z-index: 2;
   pointer-events: none;
}

.react-diagram__pane {
   z-index: 9;
   cursor: grab;
}

.react-diagram .react-diagram__edges {
   pointer-events: none;
   overflow: visible;
}

.react-diagram__edgelabel-renderer {
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none;
   user-select: none;
}

.react-diagram__selection-box {
   z-index: 3;
   transform-origin: left top;
   pointer-events: none;
}

.react-diagram__selection-box-rect {
   position: absolute;
   pointer-events: all;
   cursor: grab;
}

.react-diagram__drag-box,
.react-diagram__selection-box-rect {
   background: rgba(47, 79, 79, 0.08);
   border: 1px dotted rgba(47, 79, 79, 0.8);
}

.react-diagram__drag-box:focus,
.react-diagram__drag-box:focus-visible,
.react-diagram__selection-box-rect:focus,
.react-diagram__selection-box-rect:focus-visible {
   outline: none;
}
