.react-diagram__node-default {
   padding: 10px;
   border-radius: 3px;

   text-align: center;

   border: 1px solid #000000;
   background-color: #ffffff;
   box-sizing: border-box;
}

.react-diagram__node {
   position: absolute;
   user-select: none;
   pointer-events: all;
   transform-origin: 0 0;
   box-sizing: border-box;
   cursor: grab;
}
