.react-diagram__edge-path,
.react-diagram__connection-path {
   stroke: #b1b1b7;
   stroke-width: 1;
   fill: none;
}

.react-diagram__edge-text-bg {
   fill: white;
}

.react-diagram__edge-text-wrapper {
   pointer-events: all;
}

.react-diagram__edge .react-diagram__edge-text {
   pointer-events: none;
   user-select: none;
}

.react-diagram__edge-text {
   font-size: 10px;
}
